<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Тимошок, ІА-93, Дмитро" />
    <meta name="description" content="Інформація про студента, Тимошка Дмитра" />
    <title>Flex</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/flex.css" />
  </head>
  <body>
    <div class="container">
      <div class="header-img">
        <h1 class="header-img__title">Img.</h1>
      </div>

      <div class="header-text">
        <h1 class="header-text__title">Text</h1>
      </div>

      <div class="main">
        <h1 class="main__title">Text</h1>
      </div>

      <div class="footer">
        <h1 class="footer_title">Img.</h1>
      </div>
    </div>

    <br />
    <br />
    <center><a href="../index.html">Back to the main page</a></center>
  </body>
</html>
